/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
.idea/
*.iws
*.iml
*.ipr
out/
*.class
*.log
*.ctxt
*.jar
run1
!gradle/wrapper/gradle-wrapper.jar
.gradle/
build/
!**/src/main/**/build/
gradle-app.setting
.gradletasknamecache
run/
run-*/
run_client/
run_server/
logs/
crash-reports/
debug/
.mixin.out/
.fabric/
.vscode/
.cache/
.DS_Store
Thumbs.db
.graphify/
graphify/
*.graphify
graphify-out/
**/*graphify-out*
